body{
    background-color: #2a2357;
}
.nav{
    background-color: #2a2357;
    display: flex;
    justify-content: space-around;
}

.h4{
    display: inline-block;
    
    color: white;
}
.h4:hover{
    color:rgb(79, 215, 224)
}
.welcome{
    display: flex;
    align-items: flex-start;
}
