

.pag{
    display: flex;
    align-items: baseline;
    justify-content: center;
    
}

.search{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78%;
    border-radius: 14px;
    margin-bottom: 8px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: #2a2357;
    border-radius: 10px;
   
    
}

.arrow{
    color:white;
    font-size: 30px;
    margin:10px
    }

.button{
    background-color: #83dc00;
    border: none;
    border-radius: 50px;
    margin: 10px;
    width: min-content;
}
.buttond{
    background-color: #5b851ba6;
    border: none;
    border-radius: 50px;
    margin: 10px;
    width: min-content;
}