.card{
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0,0, .5);
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    line-height: 27px;
}

.region{
    color: rgb(117, 45, 177);
}

.flag{
    height: 100px;
}


.button{
    background-color: indigo;
    border: none;
    border-radius: 5px;
}
