.card{
    width: 200px;
    background-color: darkgrey;
    margin: 10px;
    border-radius: 5px;
}

.flag{
    height: 100px;
}
.info{
    display: inline-block;
    text-decoration: none;
    color: white;
}