.container{
    padding:8px;
    display: flex;
}

.select{
    font-family: monospace;
    border-radius: 5px;
    border: none;
    background-color: #c4e24f;
}

.az{
    font-family: monospace;
    border-radius: 5px;
    border: none;
    background-color: #c4e24f;
}

.pop{
    font-family: monospace;
    border-radius: 5px;
    border: none;
    background-color: #c4e24f;
}