.alien{
    width: 80px;
}
.icon{
    font-size: 40px;
    color: white;
    position: absolute ;
}

.icon:hover{
    color: darkturquoise;
}
.icon:active{
    color: rgb(69, 240, 69);
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 20px;
}
