.icon{
    color:#97c610;
    font-size: 25px;
}
.container{
    display: flex;
    WIDTH: min-content;
    padding: 5px;
    border-radius: 5px;
    
}
.input{
    font-family: monospace;
    border-radius: 5px;
    border: none;
    background-color: #97c610;
}