.icon{
    color:black;
    font-size: 30px;
}
.container{
    display: flex;
    
    padding: 5px;
    border-radius: 5px;
    
}
.input{
    font-family: monospace;
    border-radius: 5px;
    border: none;
    width: 400px;
    background-color: paleturquoise;
}
.input::placeholder{
    color: black;
    text-align: center;
    font-size: 15px;
}
.input:hover{
    background-color: rgb(77, 12, 114);
}
.input:hover::placeholder{
    color:white
}
